*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navbar area started  */


.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}

.anchor-tag{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    font-size: 17px;
}

.inp-icn{
    padding: 5px;
}

.money-img{
    width: 27px;
    margin-bottom: 6px;
}

#sea-he{
    font-size: 20px; 
    padding: 5px;
}

.in-sea{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
    margin-right: 5px;
    width: 150px;
}
#menu-icn{
    display: none;
    font-size: 20px; 
    padding: 5px;
}

@media(max-width:1150px){
    .anchor{
        display: none;
    }
}

@media(max-width:700px){
    .head{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #sea-he{
        display: none;
    }
    .money-img{
        display: none;
    }
    .in-sea{
        display: none;
    }
     #menu-icn{
        display: block;
        font-size: 20px;
    }
    #menu-icn:hover{
        color: rgb(234, 234, 234);
        border-radius: 50%;
        padding: 10px;
    }
}

/* navbar area ended  */
